.navv {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #b60000;
  }
  
  .nav__links {
    display: flex;
  }
  
  #goHome, #about {
    font-size: larger;
    font-weight: bold;
    height: 40px;
    border-radius: 15px;
    margin: 0;
    background-color: #b60000;
    border: 2px solid #b60000;
    width: fit-content;
    margin-left: 5px;
  }
  
  #goHome:hover, #about:hover {
    background-color: white;
    color: #b60000;
  }
  
  .logo {
    margin-left: 20px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    width: fit-content;
    margin-right: 25px;
  }
  
  .logo span {
    color: black;
  }
  .navv {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #b60000;
  }
  
  .nav__links {
    display: flex;
  }
  
  #goHome, #about {
    font-size: larger;
    font-weight: bold;
    height: 40px;
    border-radius: 15px;
    margin: 0;
    background-color: #b60000;
    border: 2px solid #b60000;
    width: fit-content;
    margin-left: 5px;
  }
  
  #goHome:hover, #about:hover {
    border: 2px solid white;
    background-color: #b60000;
    color: white;
  }
  
  .logo {
    margin-left: 20px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    width: fit-content;
    margin-right: 25px;
  }
  
  .logo span {
    color: black;
  }
  
  .results-main {
    padding-top: 50px;
  }

  h1, h4, p {
    text-align: center;
  }

  ul {
    display: table;
    margin: 0 auto 15px;
  }

  img {
    width:  200px;
    height: 250px;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
  }

  label {
    text-align: center;
  }
