<div class="navv">
    <div class="logo">
        <span>PKI</span> Classroom Scheduler
    </div>
    <button id="goHome" type="button" class="btn btn-success" [routerLink]="'/results'">
        Home
    </button>
    <button id="about" type="button" class="btn btn-success" [routerLink]="'/about'">
        About
    </button>
    <button id="about" type="button" class="btn btn-success" [routerLink]="'/dashboard'">
        Other Options
    </button>
</div>
<div class="results-main">
    <div class="about-container">
        <h1>About This Application</h1>
        <p>The PKI Classroom Scheduler is a state of the art, bleeding edge, epic web application used 
            by the University of Nebraska at Omaha for all of it's classroom scheduling needs (within PKI that is).
        </p>
        <p>Here's how you use it:</p>
        <div class="instruction-list">
            <ul>
                <li>
                    To search for what classes are in a room, or what classes an instructor is currently teaching,
                    simply type the room number or instructor's full name into the search bar.
                </li>
                <li>
                    To add a new class: Select the add class button on the home page, enter the required fields, then press the submit button.
                </li>
                <li>
                    To add a new instructor: Select the add  instructor button on the home page, enter the required fields, then press the submit button.
                </li>
                <li>
                    To remove a course from the schedule: Search for the class you want to remove (either by room number or instructor name), click on the class you want to remove, select the remove button.
                </li>
                <li>
                    To upload the current schedule as CSV: Go to the other options page, select the "Upload Current Schedule as CSV" button, select your file, select the upload button.
                </li>
                <li>
                    To download the updated schedule as CSV: Go to the other options page, select the "Download Current Schedule as CSV" button.
                </li>
                <li>
                    To logout: Go to the other options page, select the log out button.
                </li>
            </ul>
        </div>
    </div>
    <div class="about-creators-container">
        <h1>About The Creators</h1>
        <h4>See the creators</h4>
        <div>
            <img id="Cjai" src="assets/images/CJai.jpg" alt="CJai">
        </div>
        <div>
            <img id="Ethan" src="assets/images/Ethan12YrOld.jpg" alt="Ethan">
        </div>
        <div>
            <img id="Khanh" src="assets/images/Khanh.jpg" alt="Khanh">
        </div>
        <div>
            <img id="Zach" src="assets/images/Zach.jpg" alt="Zach">
        </div>
        <p>Pictured Above in Order</p>
        <ul>
            <li>CJai</li>
            <li>Ethan (the picture is from a long time ago)</li>
            <li>Khanh</li>
            <li>Zach</li>
        </ul>
        <h4>What are they doing now?</h4>
        <ul>
            <li>CJai will be entering his final semester Spring 2023!</li>
            <li>Ethan is part of the Fall 2022 graduating class and will be working at Fiserv after graduation!</li>
            <li>Khanh is part of the Fall 2022 graduating class and will be working at Sogeti after graduation!</li>
            <li>Zach is part of the Fall 2022 graduating class and will be working at OPPD after graduation!</li>
        </ul>
    </div>
</div>