<div class="navv">
    <div class="logo">
        <span>PKI</span> Classroom Scheduler
    </div>
    <button id="goHome" type="button" class="btn btn-success" [routerLink]="'/results'">
        Home
    </button>
    <button id="about" type="button" class="btn btn-success" [routerLink]="'/about'">
        About
    </button>
    <button id="about" type="button" class="btn btn-success" [routerLink]="'/dashboard'">
        Other Options
    </button>
</div>
<div class="results-main">
    <div class="about-container">
        <h1>ABOUT AYO!!!!</h1>
    </div>
</div>