<h1>Enter New Class Information</h1>
<form class="add-class-form" (ngSubmit)="onSubmit()" #classForm="ngForm" [formGroup]="addClassForm">
    <div class="addClassForm">
        <div class="add-group">
            <input type="text" class="class-control" id="courseNum" required name="courseNum" formControlName="courseNum"
                placeholder="Course Number" />
        </div>

        <div class="add-group">
            <input type="text" class="class-control" id="sectionNum" required name="sectionNum" formControlName="section"
                placeholder="Seciton Number" />
        </div>

        <div class="add-group">
            <input type="text" class="class-control" id="instructor" required name="instructor" formControlName="instructor"
                placeholder="Instructor" />
        </div>

        <div class="add-group">
            <input type="text" class="class-control" id="classSize" required name="classSize" formControlName="classSize"
                placeholder="Class Size" />
        </div>

        <div class="add-group">
            <input type="text" class="class-control" id="classStart" required name="classStart" formControlName="classStart"
                placeholder="Class Start Time (I.E. 0900)" />
        </div>

        <div class="add-group">
            <input type="text" class="class-control" id="classEnd" required name="classEnd" formControlName="classEnd"
                placeholder="Class End Time (I.E. 1030)" />
        </div>

        <div class="add-group">
            <input type="text" class="class-control" id="building" required name="building" formControlName="roomCode"
                placeholder="Building Code (I.E. PKI)" />
        </div>

        <div class="add-group">
            <input type="text" class="class-control" id="classRoom" required name="classRoom" formControlName="room"
                placeholder="Class Room Number" />
        </div>
        <h1>Select Class Days</h1>
        <div class="dowPicker">
            <div class="dowPickerOption">
                <input type="checkbox" id="dow1" formControlName="mon">
                <label for="dow1">M</label>
            </div>
            <div class="dowPickerOption">
                <input type="checkbox" id="dow2" formControlName="tue">
                <label for="dow2">T</label>
            </div>
            <div class="dowPickerOption">
                <input type="checkbox" id="dow3" formControlName="wed">
                <label for="dow3">W</label>
            </div>
            <div class="dowPickerOption">
                <input type="checkbox" id="dow4" formControlName="thu">
                <label for="dow4">T</label>
            </div>
            <div class="dowPickerOption">
                <input type="checkbox" id="dow5" formControlName="fri">
                <label for="dow5">F</label>
            </div>
            <div class="dowPickerOption">
                <input type="checkbox" id="dow6" formControlName="sat">
                <label for="dow6">S</label>
            </div>
        </div>
        <div class="form-buttons">
            <button id="submitButton" [disabled]="!classForm.form.valid" type="submit" class="btn btn-success">Submit</button>
            <button id="home" type="button" class="btn btn-success" [routerLink]="'/dashboard'">Go Home</button>
            <button id="search" type="button" class="btn btn-success" [routerLink]="'/results'">Search</button>
        </div>
    </div>
</form>