h1 {
    text-align: center;
}

input[type="text"] {
    width: 250px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    margin-bottom: 5px;
}

.dowPicker {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}
.dowPickerOption {
    display: inline-block;
    user-select: none;
}
input[type=checkbox] {
    display: none;
}
label {
    font-size: 50px;
    color: #A7A7A7;
    cursor: pointer;
    margin-right: 15px;
    user-select: none;
}
input[type=checkbox]:checked ~ label {
    color: green;
    font-weight: 500;
}

button {
    background-color: #000000;
    border: none;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    margin-top: 5px;
}

button:hover {
    background-color:maroon;
    transition: 0.5s;
}

button:focus {
    background-color: maroon;
  }