<h1>UNO Classroom Scheduler</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
  <div class="dashSearch">
    <label for="dashSearch">View Current Schedule</label><br />
    <input
      type="text"
      class="dashSearch-control"
      id="dashSearch"
      formControlName="inputValue"
      placeholder="Search classes, professors, rooms"
    /><br />
  </div>
  <button id="searchButton" type="submit" class="btn btn-success">
    Search
  </button>
</form>
<br />
<div class="suggestChanges">
  <p>Suggest Changes</p>
  <button id="classAdd" type="submit" class="btn btn-success">
    Add a Class
  </button>
  <button id="classRemove" type="submit" class="btn btn-success">
    Remove a Class
  </button>
</div>
<br />
<div class="downloadCSV">
  <p>Download</p>
  <button id="download" type="submit" class="btn btn-success">
    Download Current Schedule as CSV
  </button>
</div>
