h1,
p {
  text-align: center;
}

input[type="text"] {
  width: 270px;
  margin-left: 41%;
}

label {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#searchButton:hover,
#download:hover,
#classAdd:hover,
#classRemove:hover,
#logOut:hover,
#upload:hover {
  background-color: maroon;
  transition: 0.5s;
}

#searchButton,
#download,
#classAdd,
#classRemove,
#logOut,
#upload {
  background-color: #000000;
  border: none;
  width: 270px;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 41%;
}

.schedule {
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  min-height: 300px;
}

.col {
  border-right: 1px solid black;
}

.col:nth-child(1) {
  border-left: 1px solid black;
}

.col_title{
    display: flex;
    justify-content: center;
    border-bottom:  1px solid black;
}

.col_schedule{
    padding: 15px;
}

.class_info{
    display: block;
    margin:15px 0;
    border-radius: 15px;
    background-color: aquamarine;
    padding: 10px;
}
