h1,
p {
  text-align: center;
}

input[type="text"] {
  width: 250px;
  position: relative;
  left: 50%;
  margin-left: -125px;
  margin-bottom: 5px;
}

label {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#searchButton:hover,
#download:hover,
#upload:hover,
#logOut:hover {
  background-color: maroon;
  transition: 0.5s;
}

#searchButton,
#download,
#logOut,
#upload {
  background-color: #000000;
  border: none;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 50%;
  margin-left: -125px;
  margin-top: 5px;
}
