<div class="suggestChanges">
  <p>Suggest Changes</p>
  <button
    id="searchButton"
    type="button"
    class="btn btn-success"
    [routerLink]="'/results'"
  >
    Search for, Add, Move, or Remove Course
  </button>
</div>
<br />
<div class="downloadCSV">
  <p>Other Options</p>
  <div>
    <button
      id="download"
      type="submit"
      class="btn btn-success"
      [routerLink]="'/success'"
    >
      Download Current Schedule as CSV
    </button>
  </div>
  <div>
    <button
      id="upload"
      type="submit"
      class="btn btn-success"
      [routerLink]="'/success'"
    >
      Upload Current Schedule as CSV
    </button>
  </div>
  <div>
  <button
    id="logOut"
    type="button"
    class="btn btn-success"
    [routerLink]="'/login'"
  >
    Log out
  </button>
  </div>
</div>
