<form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
  <div class="dashSearch">
    <label for="dashSearch">View Current Schedule</label><br />
    <input
      type="text"
      class="dashSearch-control"
      id="dashSearch"
      formControlName="inputValue"
      placeholder="Enter a room number to find slots"
    /><br />
  </div>
  <button id="searchButton" type="submit" class="btn btn-success">
    Search
  </button>
</form>
<br />
<div class="suggestChanges">
  <p>Suggest Changes</p>
  <button id="classAdd" type="submit" class="btn btn-success" [routerLink]="'/addClass'">
    Add a Class
  </button>
  <button id="classRemove" type="submit" class="btn btn-success" [routerLink]="'/removeClass'">
    Remove a Class
  </button>
</div>
<br />
<div class="downloadCSV">
  <p>Other Options</p>
  <button id="download" type="submit" class="btn btn-success" [routerLink]="'/success'">
    Download Current Schedule as CSV
  </button>
  <button id="upload" type="submit" class="btn btn-success" [routerLink]="'/success'">
    Upload Current Schedule as CSV
  </button>
  <button id="logOut" type="button" class="btn btn-success" [routerLink]="'/login'">Log out</button>
</div>
