<h1>Add an Instructor</h1>
<div>
    <input 
    type="text"
    id="firstName"
    placeholder="Instructor First Name"
    />
</div>
<div>
    <input 
    type="text"
    id="lastName"
    placeholder="Instructor Last Name"
    />
</div>
<div>
    <input 
    type="text"
    id="employeeNumber"
    placeholder="Instructor Employee Number"
    />
</div>
<div>
    <button 
    id="submitInstructor"
    type="submit"
    class="btn btn-success"
    placeholder="Submit Instructor"
    [routerLink]="'/success'">
    Submit New Instructor
    </button>
</div>
<div>
    <button 
    id="goHome"
    type="button"
    class="btn btn-success"
    [routerLink]="'/dashboard'"
    >
    Go Home
    </button>
</div>