h1 {
  text-align: center;
}

input[type="text"] {
  width: 250px;
  position: relative;
}

button:hover {
  background-color: maroon;
  transition: 0.5s;
}

button {
  background-color: #000000;
  border: none;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
}

button:focus {
  background-color: maroon;
}

.navv {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #b60000;
}

.nav__links {
  display: flex;
}

#goHome,
#about {
  font-size: larger;
  font-weight: bold;
  height: 40px;
  border-radius: 15px;
  margin: 0;
  background-color: #b60000;
  border: 2px solid #b60000;
  width: fit-content;
  margin-left: 5px;
}

#goHome:hover,
#about:hover {
  border: 2px solid white;
    background-color: #b60000;
    color: white;
}

.logo {
  margin-left: 20px;
  font-size: x-large;
  font-weight: bold;
  color: white;
  width: fit-content;
  margin-right: 25px;
}

.logo span {
  color: black;
}

.results-main {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  width: 20rem;
  position: relative;
  margin-bottom: 5px;
  outline: none;
  border: 2px solid #989795;
  border-radius: 10px;
  font-size: larger;
  transition: 0.5s ease all;
  padding: 5px;
}

label {
  font-size: 50px;
  color: #989795;
  cursor: pointer;
  margin-right: 15px;
  user-select: none;
}

#text-label {
  font-size: x-large;
  color: black;
  width: 250px;
  font-weight: bold;
}

.remove-group {
  display: flex;
  justify-content: space-between;
}

.text-inputs {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 4px solid #989795;
  border-radius: 10px;
  background-color: white;
}

button:hover {
  background-color: white;
  border: 4px solid #b60000;
  color: #b60000;
  transition: 0.5s;
}

.btn {
  background-color: #000000;
  border: 4px solid black;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  margin-top: 5px;
  font-weight: bold;
}