<div class="remove-class">
    <h1>Remove a Course</h1>
    <div>
        <input 
            type="text"
            class="remove-class"
            id="classNum"
            placeholder="Class Number"
        />
    </div>
    <div>
        <input 
            type="text"
            class="remove-class"
            id="classSection"
            placeholder="Class Section Number"
        />
    </div>
    <div>
        <input 
            type="text"
            class="remove-class"
            id="instructor"
            placeholder="Class Instructor"
        />
    </div>
    <div>
        <button id="removeButton" type="submit" class="btn btn-success" [routerLink]="'/results'">Submit</button>
    </div>
    <div>
        <button id="home" type="button" class="btn btn-success" [routerLink]="'/dashboard'">Go Home</button>
    </div>
</div>