h1,
p {
  text-align: center;
}

.dashSearch {
  margin-top: 30px;
}
input[type="text"] {
  width: 250px;
  position: relative;
  left: 50%;
  margin-left: -125px;
  margin-bottom: 5px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
}

label {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #989795;
}

button:hover {
  background-color: maroon;
  transition: 0.5s;
}

button:focus {
  background-color: maroon;
}


button {
  background-color: #000000;
  border: none;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 50%;
  margin-left: -125px;
  margin-top: 5px;
}

.class_info {
  color: white;
}

.schedule {
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  min-height: 300px;
}

.col {
  border-right: 2px solid #989795;
}

.col:nth-child(1) {
  border-left: 2px solid #989795;
}

.col_title {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #989795;
  font-size: 24px;
  font-weight: bold;
  color: #989795;
}

.col_schedule {
  padding: 15px;
}

.class_info {
  display: block;
  margin: 15px 0;
  border-radius: 15px;
  background-color: aquamarine;
  padding: 10px;
  min-height: 120px;
}

.course__title {
  display: flex;
  justify-content: space-between;
}
