h1,
p {
  text-align: center;
}

.dashSearch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: xx-large;
  font-weight: bold;
  color: #989795;
}

input[type="text"] {
  width: 300px;
  border: 2px solid #989795;
  padding: 10px;
  border-radius: 10px;
  background: transparent;
  outline: none;
  transition: ease all 0.5s;
  font-size: medium;
  font-weight: bold;
}

input[type="text"]:focus {
  border: 2px solid black;
}

label {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: black;
}

button:hover {
  background-color: white;
  transition: ease all 0.5s;
  border: 4px solid #b60000;
  color: #b60000;
}

button {
  background-color: #000000;
  border: 4px solid black;
  width: 254px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 10px;
  font-weight: bold;
}

.class_info {
  color: white;
}

.schedule {
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.col {
  border-right: 2px solid #989795;
}

.col:nth-child(1) {
  border-left: 2px solid #989795;
}

.col_title {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #989795;
  font-size: 24px;
  font-weight: bold;
  color: #989795;
  margin-bottom: 15px;
}

.col_schedule {
  padding: 0px 15px 0px 15px;
}

.class_info {
  font-size: 0.8em;
  display: block;
  margin: 0px 15px;
  border-radius: 15px;
  background-color: aquamarine;
  padding: 10px;
  cursor: pointer;
}

.course__title {
  display: flex;
  justify-content: space-between;
}

.time-col.col_title {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #989795;
  font-size: 24px;
  font-weight: bold;
  color: #989795;
}

.time-col {
  border-right: 2px solid #989795;
  width: 5.5rem;
}

.time-col.col_title {
  padding-right: 10px;;
}

.time-item {
  display: flex;
  justify-content: center;
  color: #989795;
  font-weight: bold;
}

.course {
  font-weight: bold;
}

.other-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-form {
  display: flex;
}

.btn.btn-search {
  width: 100px;
  font-size: medium;
  padding: 10px;
  margin: 0 0 0 10px;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  transition: 0.5s ease all;
  font-weight: bold;
}

.btn.btn-search:hover {
  color:#b60000;
  border: 2px solid #b60000;

}

.navv {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #b60000;
}

.nav__links {
  display: flex;
}

#goHome, #about {
  font-size: larger;
  font-weight: bold;
  height: 40px;
  border-radius: 15px;
  margin: 0 0 0 5px;
  background-color: #b60000;
  border: 2px solid #b60000;
  width: fit-content;
}

#goHome:hover, #about:hover {
  border: 2px solid white;
  color: white;
}

.logo {
  margin-left: 20px;
  font-size: x-large;
  font-weight: bold;
  color: white;
  width: fit-content;
  margin-right: 25px;
}

.logo span {
  color: black;
}

.results-main {
  padding-top: 50px;
}