<div class="overlay" (click)="modalService.showModal = false"></div>
<div class="modal-container">
  <div class="header">
    <div class="class-id">{{ scheduleClass.course }}</div>
    <ng-container *ngIf="scheduleClass.crossListedWith != null">
      <div class="cross">Cross-listed with {{ scheduleClass.crossListedWith }}</div>
    </ng-container>
  </div>
  <div class="title">{{ scheduleClass.courseTitle }}</div>
  <div [formGroup]="editForm">
    <div>
      <label id="start" for="startTime">Start Time</label>
      <input type="text" formControlName="startTime" id="startTime" />
    </div>
    <div>
      <label id="end" for="endTime">End Time</label>
      <input type="text" formControlName="endTime" id=" startTime" />
    </div>
    <div>
      <label id="days" for="meetingDays">Meeting Days</label>
      <input type="text" formControlName="meetingDays" id="meetingDays" />
    </div>

    <div class="modal-buttons">
      <span (click)="onRemove()" class="modal-cancel">Remove</span>
      <span (click)="modalService.showModal = false" class="modal-cancel">Cancel</span>
      <span (click)="onSave()" class="modal-saveChanges">Save Changes</span>
    </div>
  </div>
</div>