.file-upload-container {
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 1.5rem;
}

button:hover {
  background-color: maroon;
  transition: 0.5s;
}

button:focus {
  background-color: maroon;
}

button {
  background-color: #000000;
  border: none;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navv {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #b60000;
}

.nav__links {
  display: flex;
}

#goHome,
#about {
  font-size: larger;
  font-weight: bold;
  height: 40px;
  border-radius: 15px;
  margin: 0 0 0 5px;
  background-color: #b60000;
  border: 2px solid #b60000;
  width: fit-content;
}

#goHome:hover,
#about:hover {
  border: 2px solid white;
  color: white;
}

.logo {
  margin-left: 20px;
  font-size: x-large;
  font-weight: bold;
  color: white;
  width: fit-content;
  margin-right: 25px;
}

.logo span {
  color: black;
}

.results-main {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  background-color: #000000;
  border: 4px solid black;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  margin-top: 5px;
  font-weight: bold;
}

button:hover {
  background-color: white;
  border: 4px solid #b60000;
  color: #b60000;
  transition: 0.5s;
}