<div class="navv">
    <div class="logo">
        <span>PKI</span> Classroom Scheduler
    </div>
    <button id="goHome" type="button" class="btn btn-success" [routerLink]="'/results'">
        Home
    </button>
    <button id="about" type="button" class="btn btn-success" [routerLink]="'/about'">
        About
    </button>
    <button id="about" type="button" class="btn btn-success" [routerLink]="'/dashboard'">
      Other Options
    </button>
  </div>

<div id="success-messages">
    <div id="success" *ngIf="selectedMessage['success'] else failure">
        <div id="hero">
            <h1 id="title">SUCCESS</h1>
            <div id="image">
                <img src="../assets/images/check.png" alt="Green check mark">
            </div>
        </div>
        <div id="information">
            <h2 id="summary">SUMMARY</h2>
            <div id="success-information-container" *ngFor="let item of selectedMessage['messages']">
                <p>{{ item['header'] }}</p>
                <p>{{ item['message-primary'] }}</p>
                <p>{{ item['message-secondary'] }}</p>
            </div>
        </div>
    </div>

    <ng-template id="success" #failure>
        <div id="hero">
            <h1 id="title">Failure</h1>
            <div id="image">
                <img src="../assets/images/x.png" alt="Red X Symbol">
            </div>
        </div>
        <div id="information">
            <h2 id="summary">SUMMARY</h2>
            <div id="fail-information-container" *ngFor="let item of selectedMessage['messages']">
                <p id="fail-header">Conflict: {{ item['header'] }}</p>
                <div class="fail-info">
                    <p>{{ item['message-primary'] }}</p>
                    <p>{{ item['message-secondary'] }}</p>
                </div>
            </div>
        </div>
    </ng-template>
</div>