div { 
    width:300px; 
    height:300px; 
    background-color:#F5F2F2; 
    border:3px solid black; 
    margin: auto;
    border-radius: 10px;
  } 

h1 {
    text-align: center;
}

button {
    background-color: #000000;
    border: none;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    margin-top: 15px;
}

button:hover {
    background-color: maroon;
    transition: 0.5s;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}